[gpg]
	program = /usr/bin/gpg
[user]
        signingkey = AE28ACFB54683630
	email = git.push@paweldu.dev
	name = Pawel Duda
; [commit]
	; gpgsign = true
[core]
	editor = vim -u NONE
        ; pager = delta
	excludesfile = /Users/dudev/.gitignore
	attributesfile = /Users/dudev/.gitattributes
[interactive]
        diffFilter = delta --color-only
[pull]
	rebase = true
[rebase]
	instructionFormat = (%an <%ae>) %s
[delta]
        decorations = true
        line-numbers = true
        navigate = true
        syntax-theme = gruvbox-dark
        light = false
[merge]
        conflictstyle = diff3
[diff]
        external = difft
        colorMoved = default
[rerere]
	enabled = true
[push]
	autoSetupRemote = true

# difftastic added
[tools]
        tool = difftastic
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
